CL-Detection2023/model/checkpoint_epoch_0.pt
CL-Detection2023/model/checkpoint_epoch_2.pt
CL-Detection2023/model/checkpoint_epoch_4.pt
CL-Detection2023/model/checkpoint_epoch_6.pt
CL-Detection2023/model/checkpoint_epoch_8.pt
CL-Detection2023/model/checkpoint_epoch_10.pt
CL-Detection2023/model/checkpoint_epoch_12.pt
CL-Detection2023/model/checkpoint_epoch_14.pt
CL-Detection2023/model/checkpoint_epoch_16.pt
CL-Detection2023/model/checkpoint_epoch_18.pt
CL-Detection2023/model/checkpoint_epoch_20.pt
CL-Detection2023/model/checkpoint_epoch_22.pt
CL-Detection2023/model/checkpoint_epoch_24.pt
CL-Detection2023/model/checkpoint_epoch_26.pt
CL-Detection2023/model/checkpoint_epoch_28.pt
CL-Detection2023/model/checkpoint_epoch_30.pt
CL-Detection2023/model/checkpoint_epoch_32.pt
CL-Detection2023/model/checkpoint_epoch_34.pt
CL-Detection2023/model/checkpoint_epoch_36.pt
CL-Detection2023/model/checkpoint_epoch_38.pt
CL-Detection2023/model/checkpoint_epoch_40.pt
CL-Detection2023/model/checkpoint_epoch_42.pt
CL-Detection2023/model/checkpoint_epoch_44.pt
CL-Detection2023/model/checkpoint_epoch_46.pt
CL-Detection2023/model/checkpoint_epoch_48.pt
CL-Detection2023/model/checkpoint_epoch_50.pt
CL-Detection2023/model/checkpoint_epoch_52.pt
CL-Detection2023/model/checkpoint_epoch_54.pt
CL-Detection2023/model/checkpoint_epoch_56.pt
CL-Detection2023/model/checkpoint_epoch_58.pt
CL-Detection2023/model/checkpoint_epoch_60.pt
CL-Detection2023/model/checkpoint_epoch_62.pt
CL-Detection2023/model/checkpoint_epoch_64.pt
CL-Detection2023/model/checkpoint_epoch_66.pt
CL-Detection2023/model/checkpoint_epoch_68.pt
CL-Detection2023/model/checkpoint_epoch_70.pt
CL-Detection2023/model/checkpoint_epoch_72.pt
CL-Detection2023/model/checkpoint_epoch_74.pt
CL-Detection2023/model/checkpoint_epoch_76.pt
CL-Detection2023/model/checkpoint_epoch_78.pt
CL-Detection2023/model/checkpoint_epoch_80.pt
CL-Detection2023/model/checkpoint_epoch_82.pt
CL-Detection2023/model/checkpoint_epoch_84.pt
CL-Detection2023/model/checkpoint_epoch_86.pt
CL-Detection2023/model/checkpoint_epoch_88.pt
CL-Detection2023/model/checkpoint_epoch_90.pt
CL-Detection2023/model/checkpoint_epoch_92.pt
CL-Detection2023/model/checkpoint_epoch_94.pt
CL-Detection2023/model/checkpoint_epoch_96.pt
CL-Detection2023/model/checkpoint_epoch_98.pt
CL-Detection2023/model/checkpoint_epoch_100.pt
CL-Detection2023/model/checkpoint_epoch_102.pt
CL-Detection2023/model/checkpoint_epoch_104.pt
CL-Detection2023/model/checkpoint_epoch_106.pt
CL-Detection2023/model/checkpoint_epoch_108.pt
CL-Detection2023/model/checkpoint_epoch_110.pt
CL-Detection2023/model/checkpoint_epoch_112.pt
CL-Detection2023/model/checkpoint_epoch_114.pt
CL-Detection2023/model/checkpoint_epoch_116.pt
CL-Detection2023/model/checkpoint_epoch_118.pt
CL-Detection2023/model/checkpoint_epoch_120.pt
CL-Detection2023/model/checkpoint_epoch_122.pt
CL-Detection2023/model/checkpoint_epoch_124.pt
CL-Detection2023/model/checkpoint_epoch_126.pt
CL-Detection2023/model/checkpoint_epoch_128.pt
CL-Detection2023/model/checkpoint_epoch_130.pt
CL-Detection2023/model/checkpoint_epoch_132.pt
CL-Detection2023/model/checkpoint_epoch_134.pt
CL-Detection2023/model/checkpoint_epoch_136.pt
CL-Detection2023/model/checkpoint_epoch_138.pt
CL-Detection2023/model/checkpoint_epoch_140.pt
CL-Detection2023/model/checkpoint_epoch_142.pt
CL-Detection2023/model/checkpoint_epoch_144.pt
CL-Detection2023/model/checkpoint_epoch_146.pt
CL-Detection2023/model/checkpoint_epoch_148.pt
CL-Detection2023/model/checkpoint_epoch_150.pt
CL-Detection2023/model/checkpoint_epoch_152.pt
CL-Detection2023/model/checkpoint_epoch_154.pt
CL-Detection2023/model/checkpoint_epoch_156.pt
CL-Detection2023/model/checkpoint_epoch_158.pt
CL-Detection2023/model/checkpoint_epoch_160.pt
CL-Detection2023/model/checkpoint_epoch_162.pt
CL-Detection2023/model/checkpoint_epoch_164.pt
CL-Detection2023/model/checkpoint_epoch_166.pt
CL-Detection2023/model/checkpoint_epoch_168.pt
CL-Detection2023/model/checkpoint_epoch_170.pt
CL-Detection2023/model/checkpoint_epoch_172.pt
CL-Detection2023/model/checkpoint_epoch_174.pt
CL-Detection2023/model/checkpoint_epoch_176.pt
CL-Detection2023/model/checkpoint_epoch_178.pt
CL-Detection2023/model/checkpoint_epoch_180.pt
CL-Detection2023/model/checkpoint_epoch_182.pt
CL-Detection2023/model/checkpoint_epoch_184.pt
CL-Detection2023/model/checkpoint_epoch_186.pt
CL-Detection2023/model/checkpoint_epoch_188.pt
CL-Detection2023/model/checkpoint_epoch_190.pt
CL-Detection2023/model/checkpoint_epoch_192.pt
CL-Detection2023/model/checkpoint_epoch_194.pt
CL-Detection2023/model/checkpoint_epoch_196.pt
CL-Detection2023/model/checkpoint_epoch_198.pt
CL-Detection2023/model/checkpoint_epoch_200.pt
CL-Detection2023/model/checkpoint_epoch_202.pt
CL-Detection2023/model/checkpoint_epoch_204.pt
CL-Detection2023/model/checkpoint_epoch_206.pt
CL-Detection2023/model/checkpoint_epoch_208.pt
CL-Detection2023/model/checkpoint_epoch_210.pt
CL-Detection2023/model/checkpoint_epoch_212.pt
CL-Detection2023/model/checkpoint_epoch_214.pt
CL-Detection2023/model/checkpoint_epoch_216.pt
CL-Detection2023/model/checkpoint_epoch_218.pt
CL-Detection2023/model/checkpoint_epoch_220.pt
CL-Detection2023/model/checkpoint_epoch_222.pt
CL-Detection2023/model/checkpoint_epoch_224.pt
CL-Detection2023/model/checkpoint_epoch_226.pt
CL-Detection2023/model/checkpoint_epoch_228.pt
CL-Detection2023/model/checkpoint_epoch_230.pt
CL-Detection2023/model/checkpoint_epoch_232.pt
CL-Detection2023/model/checkpoint_epoch_234.pt
CL-Detection2023/model/checkpoint_epoch_236.pt
CL-Detection2023/model/checkpoint_epoch_238.pt
CL-Detection2023/model/checkpoint_epoch_240.pt
CL-Detection2023/model/checkpoint_epoch_242.pt
CL-Detection2023/model/checkpoint_epoch_244.pt
CL-Detection2023/model/checkpoint_epoch_246.pt
CL-Detection2023/model/checkpoint_epoch_248.pt
CL-Detection2023/model/checkpoint_epoch_250.pt
CL-Detection2023/model/checkpoint_epoch_252.pt
CL-Detection2023/model/checkpoint_epoch_254.pt
CL-Detection2023/model/checkpoint_epoch_256.pt
CL-Detection2023/model/checkpoint_epoch_258.pt
CL-Detection2023/model/checkpoint_epoch_260.pt
CL-Detection2023/model/checkpoint_epoch_262.pt
CL-Detection2023/model/checkpoint_epoch_264.pt
CL-Detection2023/model/checkpoint_epoch_266.pt
CL-Detection2023/model/checkpoint_epoch_268.pt
CL-Detection2023/model/checkpoint_epoch_270.pt
CL-Detection2023/model/checkpoint_epoch_272.pt
CL-Detection2023/model/checkpoint_epoch_274.pt
CL-Detection2023/model/checkpoint_epoch_276.pt
CL-Detection2023/model/checkpoint_epoch_278.pt
CL-Detection2023/model/checkpoint_epoch_280.pt
CL-Detection2023/model/checkpoint_epoch_282.pt
CL-Detection2023/model/checkpoint_epoch_284.pt
CL-Detection2023/model/checkpoint_epoch_286.pt
CL-Detection2023/model/checkpoint_epoch_288.pt
CL-Detection2023/model/checkpoint_epoch_290.pt
CL-Detection2023/model/checkpoint_epoch_292.pt
CL-Detection2023/model/checkpoint_epoch_294.pt
CL-Detection2023/model/checkpoint_epoch_296.pt
CL-Detection2023/model/checkpoint_epoch_298.pt
CL-Detection2023/model/checkpoint_epoch_300.pt
CL-Detection2023/model/checkpoint_epoch_302.pt
CL-Detection2023/model/checkpoint_epoch_304.pt
CL-Detection2023/model/checkpoint_epoch_306.pt
CL-Detection2023/model/checkpoint_epoch_308.pt
CL-Detection2023/model/checkpoint_epoch_310.pt
CL-Detection2023/model/checkpoint_epoch_312.pt
CL-Detection2023/model/checkpoint_epoch_314.pt
CL-Detection2023/model/checkpoint_epoch_316.pt
CL-Detection2023/model/checkpoint_epoch_318.pt
CL-Detection2023/model/checkpoint_epoch_320.pt
CL-Detection2023/model/checkpoint_epoch_322.pt
CL-Detection2023/model/checkpoint_epoch_324.pt
CL-Detection2023/model/checkpoint_epoch_326.pt
CL-Detection2023/model/checkpoint_epoch_328.pt
CL-Detection2023/model/checkpoint_epoch_330.pt
CL-Detection2023/model/checkpoint_epoch_332.pt
CL-Detection2023/model/checkpoint_epoch_334.pt
CL-Detection2023/model/checkpoint_epoch_336.pt
CL-Detection2023/model/checkpoint_epoch_338.pt
CL-Detection2023/model/checkpoint_epoch_340.pt
CL-Detection2023/model/checkpoint_epoch_342.pt
CL-Detection2023/model/checkpoint_epoch_344.pt
CL-Detection2023/model/checkpoint_epoch_346.pt
CL-Detection2023/model/checkpoint_epoch_348.pt
CL-Detection2023/model/checkpoint_epoch_350.pt
CL-Detection2023/model/checkpoint_epoch_352.pt
CL-Detection2023/model/checkpoint_epoch_354.pt
CL-Detection2023/model/checkpoint_epoch_356.pt
CL-Detection2023/model/checkpoint_epoch_358.pt
CL-Detection2023/model/checkpoint_epoch_360.pt
CL-Detection2023/model/checkpoint_epoch_362.pt
CL-Detection2023/model/checkpoint_epoch_364.pt
CL-Detection2023/model/checkpoint_epoch_366.pt
CL-Detection2023/model/checkpoint_epoch_368.pt
CL-Detection2023/model/checkpoint_epoch_370.pt
CL-Detection2023/model/checkpoint_epoch_372.pt
CL-Detection2023/model/checkpoint_epoch_374.pt
CL-Detection2023/model/checkpoint_epoch_376.pt
CL-Detection2023/model/checkpoint_epoch_378.pt
CL-Detection2023/model/checkpoint_epoch_380.pt
CL-Detection2023/model/checkpoint_epoch_382.pt
CL-Detection2023/model/checkpoint_epoch_384.pt
CL-Detection2023/model/checkpoint_epoch_386.pt
CL-Detection2023/model/checkpoint_epoch_388.pt
CL-Detection2023/model/checkpoint_epoch_390.pt
CL-Detection2023/model/checkpoint_epoch_392.pt
CL-Detection2023/model/checkpoint_epoch_394.pt
CL-Detection2023/model/checkpoint_epoch_396.pt
CL-Detection2023/model/checkpoint_epoch_398.pt
CL-Detection2023/model_512_18091535/checkpoint_epoch_0.pt
CL-Detection2023/model_512_18091535/checkpoint_epoch_10.pt
CL-Detection2023/model_512_18091535/checkpoint_epoch_20.pt
CL-Detection2023/model_512_18091535/checkpoint_epoch_30.pt
CL-Detection2023/model_512_18091535/checkpoint_epoch_40.pt
CL-Detection2023/model_512_18091535/checkpoint_epoch_50.pt
CL-Detection2023/model_512_18091535/checkpoint_epoch_60.pt
CL-Detection2023/model_512_18091535/checkpoint_epoch_70.pt
CL-Detection2023/model_512_18091535/checkpoint_epoch_80.pt
CL-Detection2023/model_512_18091535/checkpoint_epoch_90.pt
CL-Detection2023/model_512_18091535/checkpoint_epoch_100.pt
CL-Detection2023/model_512_18091535/checkpoint_epoch_110.pt
CL-Detection2023/model_512_18091535/checkpoint_epoch_120.pt
CL-Detection2023/model_512_18091535/checkpoint_epoch_130.pt
CL-Detection2023/model_512_18091535/checkpoint_epoch_140.pt
CL-Detection2023/model_512_18091535/checkpoint_epoch_150.pt
CL-Detection2023/model_512_18091535/checkpoint_epoch_160.pt
CL-Detection2023/model_512_18091535/checkpoint_epoch_170.pt
CL-Detection2023/model_512_18091535/checkpoint_epoch_180.pt
CL-Detection2023/model_512_18091535/checkpoint_epoch_190.pt
CL-Detection2023/model_512_18091535/checkpoint_epoch_200.pt
CL-Detection2023/model_512_18091535/checkpoint_epoch_210.pt
CL-Detection2023/model_512_18091535/checkpoint_epoch_220.pt
CL-Detection2023/model_512_18091535/checkpoint_epoch_230.pt
CL-Detection2023/model_512_18091535/checkpoint_epoch_240.pt
CL-Detection2023/model_512_18091535/checkpoint_epoch_250.pt
CL-Detection2023/model_512_18091535/checkpoint_epoch_260.pt
CL-Detection2023/model_512_18091535/checkpoint_epoch_270.pt
CL-Detection2023/model_512_18091535/checkpoint_epoch_280.pt
CL-Detection2023/model_512_18091535/checkpoint_epoch_290.pt
CL-Detection2023/model_512_18091535/checkpoint_epoch_300.pt
CL-Detection2023/model_512_18091535/checkpoint_epoch_310.pt
CL-Detection2023/model_512_18091535/checkpoint_epoch_320.pt
CL-Detection2023/model_512_18091535/checkpoint_epoch_330.pt
CL-Detection2023/model_512_18091535/checkpoint_epoch_340.pt
CL-Detection2023/model_512_18091535/checkpoint_epoch_350.pt
CL-Detection2023/model_512_18091535/checkpoint_epoch_360.pt
CL-Detection2023/model_512_18091535/checkpoint_epoch_370.pt
CL-Detection2023/model_512_18091535/checkpoint_epoch_380.pt
CL-Detection2023/model_512_18091535/checkpoint_epoch_390.pt
CL-Detection2023/model_512_18091535/events.out.tfevents.1695047951.gpu-q-76.961863.0
